In [1]:
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv('../jobs_DS.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439 entries, 0 to 2438
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   job_id                  2439 non-null   object
 1   search_datetime         2439 non-null   object
 2   location                2439 non-null   object
 3   search_title            2439 non-null   object
 4   search_location         2439 non-null   object
 5   search_detail_datetime  2439 non-null   object
 6   title                   2439 non-null   object
 7   job_desc                2439 non-null   object
 8   company                 2437 non-null   object
 9   company_rating          2439 non-null   float64
 10  company_rating_count    2439 non-null   int64
dtypes: float64(1), int64(1), object(9)
memory usage: 209.7+ KB

In [4]:
df.head()

,job_id,search_datetime,location,search_title,search_location,search_detail_datetime,title,job_desc,company,company_rating,company_rating_count
0,d8e7de60a3dff097,2020-04-12 15:12:00 UTC,"Cupertino, CA",data+scientist,San+Jose,2020-04-22 22:49:00 UTC,Principal Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""...",AETNA,3.7,5240
1,64e27734f4636f7a,2020-04-12 07:12:00 UTC,"Louisville, KY",data+scientist,Louisville,2020-04-22 22:49:00 UTC,Data Scientist Professional 2,"<div class=""jobsearch-jobDescriptionText"" id=""...",Humana,3.7,6414
2,1971315c80c57eca,2020-04-12 15:27:00 UTC,"Columbus, OH 43240 (Far North area)",Support+Engineer,Columbus,2020-04-22 23:01:00 UTC,"Lead Data Scientist, Workforce Analytics – Vic...","<div class=""jobsearch-jobDescriptionText"" id=""...",JP Morgan Chase,3.9,18061
3,566992981193b05c,2020-04-12 15:33:00 UTC,"Rockville, MD",Account+Management,Herndon,2020-04-22 23:23:00 UTC,Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""...","Lucidus Solutions, LLC",0.0,0
4,7a73ce07246e77a3,2020-04-12 15:32:00 UTC,"Tampa, FL 33602 (Downtown area)",Account+Management,Tampa,2020-04-22 23:29:00 UTC,Senior Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""...",Frontier Communications,0.0,0

In [5]:
# only a small set of records in our dataset has ratings
df.describe()

       company_rating  company_rating_count
count     2439.000000           2439.000000
mean         1.634399           2900.697827
std          1.909903          12160.999307
min          0.000000              0.000000
25%          0.000000              0.000000
50%          0.000000              0.000000
75%          3.800000            246.000000
max          5.000000         210202.000000

In [6]:
pd.set_option('display.max_colwidth', 100)

In [7]:
df[['title','job_desc']].head()

,title,job_desc
0,Principal Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""jobDescriptionText""><div><b>Description:\n</b><br/..."
1,Data Scientist Professional 2,"<div class=""jobsearch-jobDescriptionText"" id=""jobDescriptionText""><p></p><div><div>The Data Scie..."
2,"Lead Data Scientist, Workforce Analytics – Vice President","<div class=""jobsearch-jobDescriptionText"" id=""jobDescriptionText""><div></div><div><div>Lead Data..."
3,Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""jobDescriptionText"">Benefits Summary\n<br/><ul>\n<..."
4,Senior Data Scientist,"<div class=""jobsearch-jobDescriptionText"" id=""jobDescriptionText""><div><p><b>About Frontier:</b>..."

In [8]:
soup = BeautifulSoup(df['job_desc'][0],'html.parser')

In [9]:
print(soup.text)

Description:

It’s a new day in health care.

Combining CVS Health and Aetna was a transformative moment for our company and our industry, establishing CVS Health as the nation’s premier health innovation company. Through our health services, insurance plans and community pharmacists, we’re pioneering a bold new approach to total health. As a CVS Health colleague, you’ll be at the center of it all.

We offer a diverse work experience that empowers colleagues for career success. In addition to skill and experience, we also seek to attract and retain colleagues whose beliefs and behaviors are in alignment with our core values of collaboration, innovation, caring, integrity and accountability.

This position lies within the Attain team. Attain attainbyaetna.com is an app developed by Aetna in collaboration with Apple that leverages the Apple Watch sensor data and Aetna's medical claims data in order to create personalized health recommendations for our members. Attain relies on a powerful rewards mechanism to incentivize our members to stay active and complete key healthy actions like getting a flu shot and adhering to medications.
70445

Fundamental Components:

Provides strategic leadership for the development, validation and delivery of algorithms, statistical models and reporting tools. Acts as the analytic team lead for highly complex projects involving multiple resources and tasks, providing individual mentoring in support of company objectives.
Leads development and execution of new and/or highly complex algorithms and statistical predictive models and determines analytical approaches and modeling techniques to evaluate scenarios and potential future outcomes.
Establishes analytical rigor and statistical methods to analyze large amounts of data, using advanced statistical techniques and mathematical analyses. Manages highly complex analytical projects from data exploration, model building, performance evaluation and testing.
Applies in-depth knowledge of systems and products to consult and advise on additional efforts across organization/enterprise.
Motivates team members and probes into technical details, and mentors others to do the same.
Provides thought leadership and direction for analytic solutions, tools and studies. Anticipates and solves strategic and high risk business problems with broad impact on the business area by applying leading-edge theories and techniques to investigate problems, detect patterns and recommend solutions.
Provides guidance to develop enterprise-wide analytics strategy and roadmap. Interacts with internal and external peers and management to share highly complex information/solutions related to areas of expertise and/or to gain acceptance of new or enhanced technology/ business solutions.

Background Experience:

Excellent analytical and problem solving skills.Strong organizational, management and leadership skills.Superior skills to effectively communicate and negotiate across the business and in the external health care environment.
Expertise in advanced analytics tools and languages to analyze large data sets from multiple data sources.Expertise in innovating and implementing novel machine learning techniques.
Comprehensive knowledge on health care industry, products, systems, business strategies and products.
Demonstrates advanced in-depth specialization in mathematical analysis methods, machine learning, statistical analyses, and predictive modeling.Superior ability to communicate technical ideas and results to non-technical clients in written and verbal form.
10 or more years of progressively complex related experience.
Bachelor's degree or equivalent work experience in Mathematics, Statistics, Computer Science, Business Analytics, Economics, Physics, Engineering, or related discipline.Master’s degree or PhD preferred.

Potential Telework Position:

No

Percent of Travel Required:

0 - 10%

EEO Statement:

Aetna is an Equal Opportunity, Affirmative Action Employer

Benefit Eligibility:

Benefit eligibility may vary by position.

Candidate Privacy Information:

Aetna takes our candidate's data privacy seriously. At no time will any Aetna recruiter or employee request any financial or personal information (Social Security Number, Credit card information for direct deposit, etc.) from you via e-mail. Any requests for information will be discussed prior and will be conducted through a secure website provided by the recruiter. Should you be asked for such information, please notify us immediately.

In [10]:
# Use lambda to apply text extract on a column
df.job_desc.apply(lambda x: BeautifulSoup(x,'html.parser').text)

0       Description:\n\nIt’s a new day in health care.\n\nCombining CVS Health and Aetna was a transform...
1       The Data Scientist Professional 2 (Cognitive/Machine Learning Professional) leverages large sets...
2       Lead Data Scientist, Workforce Analytics – Vice President\nJPMorgan Chase & Co. (NYSE: JPM) is a...
3       Benefits Summary\n\nCompetitive base salary plus bonus\nPaid time off\nTen paid holidays\nMedica...
4       About Frontier:\n\nFrontier® Communications provides communications services to urban, suburban,...
                                                       ...
2434    Position Purpose:\n\nA bioinformatics data scientist is responsible for providing experimental d...
2435    The Challenge:\nAre you excited at the prospect of unlocking the secrets held by a data set? Are...
2436    The Challenge:\nAre you excited at the prospect of unlocking the secrets held by a data set? Are...
2437    Lockheed Martin's is seeking a motivated data analyst to support the Missile Defense National Te...
2438    The Perduco Group, a LinQuest company, is seeking a Data Scientist to work with our team at Pete...
Name: job_desc, Length: 2439, dtype: object